@model MISTDO.Web.Models.AccountViewModels.TraineeViewModel
@{
    ViewData["Title"] = "Edit Profile";
    Layout = "_LayoutTraineeDashboard";
}

<link rel="stylesheet" href="~/bower_components/datatables/media/css/jquery.dataTables.css" />

<!-- Page Container START -->

<div class="page-container">
    <!-- Header START -->
    @await Html.PartialAsync("_LayoutHeaderTrainee");

    <!-- Theme Toggle Button END -->
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-title">
                <h4>Edit Trainee</h4>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-heading border bottom">
                            <h4 class="card-title">Trainee Details</h4>
                        </div>
                        <div class="card-block">
                            <div class="mrg-top-40">
                                <div class="row">
                                    <script type="text/javascript">
                                        function ShowPreview(input) {
                                            if (input.files && input.files[0]) {
                                                var ImageDir = new FileReader();
                                                ImageDir.onload = function (e) {
                                                    $('#ImagePreview').attr('src', e.target.result);
                                                }
                                                ImageDir.readAsDataURL(input.files[0]);
                                            }
                                        }
                                    </script>
                                    <div class="col-4">
                                        <div class="widget-profile-1 card">
                                            <div class="profile border bottom">
                                                <img class="mrg-top-30" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(ViewBag.Image))" alt="Take a new Passport" height="150" width="180">
                                                <p>
                                                    <h4 class="mrg-top-20 no-mrg-btm text-semibold">Profile Image </h4>
                                                </p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-10 ml-auto mr-auto">

                                        <form asp-action="EditProfile" enctype="multipart/form-data">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" asp-for="TraineeId" />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label asp-for="FirstName" class="control-label"></label>
                                                        <input asp-for="FirstName" class="form-control" />
                                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label asp-for="LastName" class="control-label"></label>
                                                        <input asp-for="LastName" class="form-control" />
                                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label asp-for="Email" class="control-label"></label>
                                                        <input asp-for="Email" class="form-control" />
                                                        <span asp-validation-for="Email" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label asp-for="PhoneNumber" class="control-label"></label>
                                                        <input asp-for="PhoneNumber" class="form-control" />
                                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label asp-for="CompanyName" class="control-label"></label>
                                                        <input asp-for="CompanyName" class="form-control" />
                                                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label asp-for="CompanyAddress" class="control-label"></label>
                                                        <input asp-for="CompanyAddress" class="form-control" />
                                                        <span asp-validation-for="CompanyAddress" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label asp-for="UserAddress" class="control-label"></label>
                                                        <input asp-for="UserAddress" class="form-control" />
                                                        <span asp-validation-for="UserAddress" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Select Your File To Upload #:</label>


                                                        <div class="col-4" align="center">
                                                            <img id="ImagePreview" height="150" />
                                                        </div>
                                                        <div class="col-4" align="center">
                                                            Select Your File To Upload #:
                                                            <input type="file" name="ImageUpload" multiple="multiple" class="input-files" onchange="ShowPreview(this)" />
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>



                                            <div class="row">


                                                <div class="col-md-6 col-xs-6">
                                                    <div class="text-right mrg-top-5">
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-primary">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Content Wrapper END -->
    <!-- Footer START -->
    <footer class="content-footer">
        <div class="footer">
            <div class="copyright">
                <span>Copyright © 2018 <b class="text-dark">SHE Division, The Department of Petroleum Resources</b>. All rights reserved.</span>
                <span class="go-right">
                    <a href="#" class="text-gray mrg-right-15">Term &amp; Conditions</a>
                    <a href="#" class="text-gray">Privacy &amp; Policy</a>
                </span>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
    <!-- Page Container END -->
</div>
<script src="~/dist/assets/js/vendor.js"></script>

<script src="~/dist/assets/js/app.min.js"></script>

<!-- page plugins js -->
<script src="~/bower_components/datatables/media/js/jquery.dataTables.js"></script>

<!-- page js -->
<script src="~/dist/assets/js/table/data-table.js"></script>



