@model MISTDO.Web.Models.AccountViewModels.TraineeViewModel
@{
    ViewData["Title"] = "Edit Profile";
    Layout = "_LayoutTraineeDashboard";
}

<link rel="stylesheet" href="~/bower_components/datatables/media/css/jquery.dataTables.css" />

<!-- Page Container START -->

<div class="page-container">
    <!-- Header START -->
    @await Html.PartialAsync("_LayoutHeaderTrainee");

    <!-- Theme Toggle Button END -->
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-title">
                <p>
                    <a asp-action="Profile" class="btn btn-success">Back</a>
                </p>
                <h4>Edit Trainee</h4>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-heading border bottom">
                            <h4 class="card-title">Trainee Details</h4>
                        </div>
                        <div class="card-block">
                            <div class="mrg-top-40">
                                <div class="row">
                                    <script type="text/javascript">
                                        function ShowPreview(input) {
                                            if (input.files && input.files[0]) {
                                                var ImageDir = new FileReader();
                                                ImageDir.onload = function (e) {
                                                    $('#ImagePreview').attr('src', e.target.result);
                                                }
                                                ImageDir.readAsDataURL(input.files[0]);
                                            }
                                        }
                                    </script>
                                    <div class="col-4">
                                        <div class="widget-profile-1 card">
                                            <div class="profile border bottom">
                                                @if (ViewBag.Image != null)
                                                {

                                                    <span class="name pdd-right-5">
                                                        <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(ViewBag.Image))" alt="Take a new Passport" height="80" width="90">
                                                    </span>
                                                    <p>
                                                        <h4 class="mrg-top-20 no-mrg-btm text-semibold">Profile Image </h4>
                                                    </p>

                                                }
                                                else
                                                {

                                                    <img src="~/templates/avatar.png" alt="Take a new Passport" height="25" width="25">


                                                }
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-10 ml-auto mr-auto">

                                        <form asp-action="EditProfile" enctype="multipart/form-data">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" asp-for="TraineeId" />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label asp-for="FirstName" class="control-label"></label>
                                                        <input asp-for="FirstName" class="form-control" />
                                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label asp-for="LastName" class="control-label"></label>
                                                        <input asp-for="LastName" class="form-control" />
                                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label asp-for="Email" class="control-label"></label>
                                                        <input asp-for="Email" class="form-control" />
                                                        <span asp-validation-for="Email" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label asp-for="PhoneNumber" class="control-label"></label>
                                                        <input asp-for="PhoneNumber" class="form-control" />
                                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label asp-for="DateOfBirth" class="control-label"></label>
                                                        <input asp-for="DateOfBirth" class="form-control" />
                                                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label asp-for="CompanyName" class="control-label"></label>
                                                        <input asp-for="CompanyName" class="form-control" />
                                                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label asp-for="CompanyAddress" class="control-label"></label>
                                                        <input asp-for="CompanyAddress" class="form-control" />
                                                        <span asp-validation-for="CompanyAddress" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label asp-for="UserAddress" class="control-label"></label>
                                                        <input asp-for="UserAddress" class="form-control" />
                                                        <span asp-validation-for="UserAddress" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label asp-for="State"></label>

                                                        <select asp-for="State" class="form-control" name="State" id="State">

                                                            <option value="Abuja FCT" selected="selected">Abuja FCT</option>
                                                            <option value="Abia">Abia</option>
                                                            <option value="Adamawa">Adamawa</option>
                                                            <option value="Akwa Ibom">Akwa Ibom</option>
                                                            <option value="Anambra">Anambra</option>
                                                            <option value="Bauchi">Bauchi</option>
                                                            <option value="Bayelsa">Bayelsa</option>
                                                            <option value="Benue">Benue</option>
                                                            <option value="Borno">Borno</option>
                                                            <option value="Cross River">Cross River</option>
                                                            <option value="Delta">Delta</option>
                                                            <option value="Ebonyi">Ebonyi</option>
                                                            <option value="Edo">Edo</option>
                                                            <option value="Ekiti">Ekiti</option>
                                                            <option value="Enugu">Enugu</option>
                                                            <option value="Gombe">Gombe</option>
                                                            <option value="Imo">Imo</option>
                                                            <option value="Jigawa">Jigawa</option>
                                                            <option value="Kaduna">Kaduna</option>
                                                            <option value="Kano">Kano</option>
                                                            <option value="Katsina">Katsina</option>
                                                            <option value="Kebbi">Kebbi</option>
                                                            <option value="Kogi">Kogi</option>
                                                            <option value="Kwara">Kwara</option>
                                                            <option value="Lagos">Lagos</option>
                                                            <option value="Nassarawa">Nassarawa</option>
                                                            <option value="Niger">Niger</option>
                                                            <option value="Ogun">Ogun</option>
                                                            <option value="Ondo">Ondo</option>
                                                            <option value="Osun">Osun</option>
                                                            <option value="Oyo">Oyo</option>
                                                            <option value="Plateau">Plateau</option>
                                                            <option value="Rivers">Rivers</option>
                                                            <option value="Sokoto">Sokoto</option>
                                                            <option value="Taraba">Taraba</option>
                                                            <option value="Yobe">Yobe</option>
                                                            <option value="Zamfara">Zamfara</option>
                                                            <option value="Outside Nigeria">Outside Nigeria</option>
                                                        </select>
                                                        <span asp-validation-for="State" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label asp-for="City" class="control-label"></label>
                                                        <input asp-for="City" class="form-control" />
                                                        <span asp-validation-for="City" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Profile Picture  </label> ( Select Your File To Upload or Take a new Picture:)
                                                        <div class="col-4" align="center">

                                                            <span align="center"><iframe id="ImagePreview" src="~/templates/avatar.png" scrolling="auto" allowtransparency="true" allowfullscreen></iframe></span>


                                                        </div>

                                                        <div class="col-4" align="center">

                                                            <span><input type="file" class="btn btn-success" name="ImageUpload" multiple="multiple" onchange="ShowPreview(this)" /></span>

                                                            <div id="result" align="center"></div>
                                                            <hr />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>




                                            <div class="row">


                                                <div class="col-md-6 col-xs-6" align="center">
                                                    <div class="text-right mrg-top-10">
                                                        <div class="form-group">
                                                            <button class="btn btn-success" type="submit">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Content Wrapper END -->
    <!-- Footer START -->
    @await Html.PartialAsync("_Footer")
    <!-- Footer END -->
    <!-- Page Container END -->
</div>



