@model MISTDO.Web.Models.Notification
@{
    ViewData["Title"] = "Notification Details";
    Layout = "_LayoutTraineeDashboard";
}

<link rel="stylesheet" href="~/bower_components/datatables/media/css/jquery.dataTables.css" />

<!-- Page Container START -->

<div class="page-container">
    <!-- Header START -->
    @await Html.PartialAsync("_LayoutHeaderTrainee");

    <!-- Theme Toggle Button END -->
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-title">
                <p>
                    <a asp-action="Notification" class="btn btn-success">Back</a>
                </p>
                <h4>Notification</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">

                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-heading border bottom">
                                    <h4 class="card-title">Details</h4>
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p class="mrg-top-10 text-dark"> <b>Notification Info</b></p>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="status online mrg-top-10"></span>
                                            <p class="mrg-top-10"> @Html.DisplayFor(model => model.NotificationMessage)</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p class="mrg-top-10 text-dark"> <b>Notification Recieved</b></p>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="status online mrg-top-10"></span>
                                            <p class="mrg-top-10">@Html.DisplayFor(model => model.NotificationDateTime)</p>
                                        </div>
                                    </div>




                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Wrapper END -->
    <!-- Footer START -->
    @await Html.PartialAsync("_Footer")
    <!-- Footer END -->
    <!-- Page Container END -->
</div>
<script src="~/dist/assets/js/vendor.js"></script>

<script src="~/dist/assets/js/app.min.js"></script>

<!-- page plugins js -->
<script src="~/bower_components/datatables/media/js/jquery.dataTables.js"></script>

<!-- page js -->
<script src="~/dist/assets/js/table/data-table.js"></script>



