@model MISTDO.Web.Models.TraineeApplicationUser
@{
    ViewData["Title"] = "Profile";
    Layout = "_LayoutTraineeDashboard";
}



<!-- Page Container START -->
<style>
    #myProgress {
        width: 100%;
        background-color: #ddd;
     
    }
        

    #myBar {
        width: 1%;
        height: 30px;
        background-color: #0b9242;
       
    }

</style>
<script>
    function demo() {
        var elem = document.getElementById("myBar");
        var width = 1;
        var id = setInterval(frame, 10);
        function frame() {
            if (width >= 100) {
                clearInterval(id);
            } else {
                width++;
                elem.style.width = width - 60 + '%';
               
               
            }
        }
    }
    function move() {
        var elem = document.getElementById("myBar");
        var width = 1;
        var id = setInterval(frame, 10);
        function frame() {
            if (width >= 100) {
                clearInterval(id);
            } else {
                width++;
                elem.style.width = width - 40 + '%';
                elem.style.content = width - 40 + '%';
               
            
            }
        }
    }
    function bio() {
        var elem = document.getElementById("myBar");
        var width = 1;
        var id = setInterval(frame, 10);
        function frame() {
            if (width >= 100) {
                clearInterval(id);
            } else {
                width++;
                elem.style.width = width  + '%';
                elem.style.content = width  + '%';
            }
        }
    }
</script>


<div class="page-container">
    <!-- Header START -->
    @await Html.PartialAsync("_LayoutHeaderTrainee");

    <!-- Theme Toggle Button END -->
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <span style="float:right;"><button class="btn btn-success" align="right" title="Hide Account status" onclick="myFunction()"><i> Hide/Show Account Status</i></button></span>
            <div id="myProgress">

                <h4>Reigistration Status </h4>
                @*<div class="alert alert-success">
                <strong>Success!</strong> This alert box could indicate a successful or positive action.
            </div>*@
                <div id="myBar"></div>
            </div>
            <div class="page-title">
                <h4>Account Setting</h4>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-heading border bottom">
                                    @if (Model.ImageUpload != null)
                                    {
                                        <div class="widget-profile-1 card">
                                            <div class="profile border bottom">
                                                <p>
                                                    <center>
                                                        <a class="btn btn-success" href="#" style="min-width:40%;  background-color: #0b9242; color: white;">STEP 1</a>| <a class="btn btn-success" style="min-width:40%;" asp-action="EditProfile">Edit Basic Information</a>
                                                    </center>
                                                </p>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label"> <b>Trainee ID</b></label>
                                                            <input asp-for="Id" class="form-control" onload="demo()" />

                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label"> First Name</label>
                                                            <input asp-for="FirstName" class="form-control" />

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Last Name</label>
                                                            <input asp-for="LastName" class="form-control" />

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label"> Email</label>
                                                            <input asp-for="Email" class="form-control" />

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Phone Number</label>
                                                            <input asp-for="PhoneNumber" class="form-control" />

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Company Name</label>
                                                            <input asp-for="CompanyName" class="form-control" />

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Company Address</label>
                                                            <input asp-for="CompanyAddress" class="form-control" />

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label"> User Address</label>
                                                            <input asp-for="UserAddress" class="form-control" />

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    }
                                    else
                                    {
                                        <div class="widget-profile-1 card">
                                            <div class="profile border bottom">
                                                <img class="mrg-top-30" src="~/templates/avatar.png" alt="Take a new Passport" height="150" width="180">
                                                <p>
                                                    <h4 class="mrg-top-20 no-mrg-btm text-semibold"> <a asp-controller="Administrator" asp-action="AllTrainingCenter">Upload your Picture and Update your Profile  </a> </h4>
                                                </p>
                                            </div>

                                        </div>
                                    }




                                </div>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-heading border bottom">
                                    @if (Model.ImageUpload != null)
                                    {
                                        <div class="widget-profile-1 card">
                                            <div class="profile border bottom">
                                                <p>
                                                    <center>
                                                        <a class="btn btn-success" href="#" style="min-width:40%;  background-color: #0b9242; color: white;">STEP 2</a>| <a class="btn btn-success" style="min-width:40%;" asp-action="EditProfile">Upload Profile Picture</a>
                                                    </center>
                                                </p>
                                                <p> <label class="mrg-top-30">Profile Picture</label></p>
                                                <img class="mrg-top-30" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.ImageUpload))" alt="Take a new Passport" height="150" width="180" onload="move()">

                                            </div>

                                        </div>
                                    }
                                    else
                                    {
                                        <div class="widget-profile-1 card">
                                            <div class="profile border bottom">
                                                <img class="mrg-top-30" src="~/templates/avatar.png" alt="Take a new Passport" height="150" width="180">
                                                <p>
                                                    <h4 class="mrg-top-20 no-mrg-btm text-semibold"> <a asp-controller="Administrator" asp-action="AllTrainingCenter">Upload your Picture and Update your Profile  </a> </h4>
                                                </p>
                                            </div>

                                        </div>
                                    }




                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-heading border bottom">
                                    @if (Model.FirstFinger != null && Model.MiddleFinger != null)
                                    {
                                        <div class="widget-profile-1 card">
                                            <div class="profile border bottom">
                                                <p>
                                                    <center>
                                                        <a class="btn btn-success" href="#" style="min-width:40%;  background-color: #0b9242; color: white;">STEP 3</a>| <a class="btn btn-success" style="min-width:40%;" >Biometric Capture</a>
                                                    </center>
                                                </p>
                                                <p>
                                                    <span align="center">
                                                        <img id="ImagePreview" src="~/templates/fprint.bmp" alt="Take a new Passport" height="150" width="120" onload="bio()">
                                                        @*<img class="mrg-top-30" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.ImageUpload))" alt="Take a new Passport" height="150" width="180">*@

                                                    </span>
                                                    <h4 class="mrg-top-20 no-mrg-btm text-semibold"> Profile Completed  </h4>
                                                </p>
                                            </div>

                                        </div>

                                    }
                                    else
                                    {
                                        <div class="widget-profile-1 card">
                                            <div class="profile border bottom">
                                                <p>
                                                    <center>
                                                        <a class="btn btn-success" href="#" style="min-width:40%;  background-color: #0b9242; color: white;">STEP 3</a>| <a class="btn btn-success" style="min-width:40%;" >Biometric Capture</a>
                                                    </center>
                                                </p>
                                                <p> <label class="mrg-top-30">  Click link below to check for Training Provider approved by DPR for Biometric Capturing </label></p>
                                                <p> <a class="btn btn-success" style="min-width:40%;" asp-controller="Trainees" asp-action="TrainingCenters" target="_blank">list of approved Training Providers  </a></p>
                                                @*<img class="mrg-top-30" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.ImageUpload))" alt="Take a new Passport" height="150" width="180">*@

                                            </div>

                                        </div>
                                    }




                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Wrapper END -->
        <!-- Footer START -->
        <footer class="content-footer">
            <div class="footer">
                <div class="copyright">
                    <span>Copyright © 2018 <img src="~/dist/assets/images/logo/footerlogo.png" width="12%" height="7%"></span>
                    <span class="go-right">
                        <a href="#" class="text-gray mrg-right-15">Term &amp; Conditions</a>
                        <a href="#" class="text-gray">Privacy &amp; Policy</a>
                    </span>
                </div>
            </div>
        </footer>
        <!-- Footer END -->
        <!-- Page Container END -->
    </div>

    <script>
        function myFunction() {
            var x = document.getElementById("myBar");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>


