@model MISTDO.Web.Models.Calender
@{
    ViewData["Title"] = "Create New Training ";
    Layout = "_LayoutDashboard";
}
@inject UserManager<ApplicationUser> userManager;

<div class="page-container">
    <!-- Header START -->
    @await Html.PartialAsync("_LayoutHeader");

    <!-- Theme Toggle Button END -->
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-title">
                <h4>Create New Training Calender </h4>
                @*<p>
                        <a asp-action="Create">Create New</a>
                    </p>*@
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block">
                            @{
                                var user = await userManager.GetUserAsync(User);
                                var modules = ViewBag.modules as List<SelectListItem>;

                            }

                            <form asp-action="CreateTraining" enctype="multipart/form-data">

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <label class="control-label"> Module Name</label>
                                    <select class="form-control" asp-for="ModuleId" asp-items="modules"></select>


                                </div>

                                <div class="form-group">
                                    <label class="control-label" hidden> Training Center Id</label>
                                    <input asp-for="@user.Id" class="form-control" type="hidden" />
                                    <span asp-validation-for="TrainingCentreId" class="text-danger"></span>
                                </div>



                                <div class="form-group">
                                    <label class="control-label"> Training Cost</label>
                                    <input asp-for="Cost" class="form-control" />
                                    <span asp-validation-for="Cost" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Training Venue</label>

                                    <select asp-for="Venue" class="form-control" name="Venue" id="Venue">

                                        <option value="Abuja FCT" selected="selected">Abuja FCT</option>
                                        <option value="Abia">Abia</option>
                                        <option value="Adamawa">Adamawa</option>
                                        <option value="Akwa Ibom">Akwa Ibom</option>
                                        <option value="Anambra">Anambra</option>
                                        <option value="Bauchi">Bauchi</option>
                                        <option value="Bayelsa">Bayelsa</option>
                                        <option value="Benue">Benue</option>
                                        <option value="Borno">Borno</option>
                                        <option value="Cross River">Cross River</option>
                                        <option value="Delta">Delta</option>
                                        <option value="Ebonyi">Ebonyi</option>
                                        <option value="Edo">Edo</option>
                                        <option value="Ekiti">Ekiti</option>
                                        <option value="Enugu">Enugu</option>
                                        <option value="Gombe">Gombe</option>
                                        <option value="Imo">Imo</option>
                                        <option value="Jigawa">Jigawa</option>
                                        <option value="Kaduna">Kaduna</option>
                                        <option value="Kano">Kano</option>
                                        <option value="Katsina">Katsina</option>
                                        <option value="Kebbi">Kebbi</option>
                                        <option value="Kogi">Kogi</option>
                                        <option value="Kwara">Kwara</option>
                                        <option value="Lagos">Lagos</option>
                                        <option value="Nassarawa">Nassarawa</option>
                                        <option value="Niger">Niger</option>
                                        <option value="Ogun">Ogun</option>
                                        <option value="Ondo">Ondo</option>
                                        <option value="Osun">Osun</option>
                                        <option value="Oyo">Oyo</option>
                                        <option value="Plateau">Plateau</option>
                                        <option value="Rivers">Rivers</option>
                                        <option value="Sokoto">Sokoto</option>
                                        <option value="Taraba">Taraba</option>
                                        <option value="Yobe">Yobe</option>
                                        <option value="Zamfara">Zamfara</option>
                                        <option value="Outside Nigeria">Outside Nigeria</option>
                                    </select>
                                    <span asp-validation-for="Venue" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Training Start Time</label>
                                    <input asp-for="TrainingStartTime" class="form-control" />
                                    <span asp-validation-for="TrainingStartTime" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Training Ends Time</label>
                                    <input asp-for="TrainingEndTime" class="form-control" />
                                    <span asp-validation-for="TrainingEndTime" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Training Start Date</label>
                                    <input asp-for="TrainingStartDate" class="form-control" />
                                    <span asp-validation-for="TrainingStartDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Training Ends Date</label>
                                    <input asp-for="TrainingEndDate" class="form-control" />
                                    <span asp-validation-for="TrainingEndDate" class="text-danger"></span>
                                </div>






                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </form>

                        </div>



                    </div>
                    @*<div>
                            <a asp-action="Index">Back to List</a>
                        </div>*@
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block">
                            <form asp-action="TrainingUpload" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <p>       @Html.ActionLink("Click here to download Template for Bulk Upload", "DownloadFile", new { })</p>

                                <div class="form-group">

                                    <p><b>Upload Bulk Training Excel File</b></p>
                                    <input type="file" name="file" accept=".xlsx*" />


                                </div>
                                <div class="form-group">

                                    <input type="submit" value="Upload" />


                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Wrapper END -->
    <!-- Footer START -->
    @await Html.PartialAsync("_Footer")
    <!-- Footer END -->
    <!-- Page Container END -->
</div>


