@model MISTDO.Web.Models.AccountViewModels.TraineeViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutDashboard";
}

<div class="page-container">
    <!-- Header START -->
    @await Html.PartialAsync("_LayoutHeader");

    <!-- Theme Toggle Button END -->
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-title">
                <h4>Register Trainees</h4>
                @*<p>
                <a asp-action="Create">Create New</a>
            </p>*@
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block">

                            <form asp-action="CreateTrainees" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="FirstName" class="control-label"></label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>



                                <div class="form-group">
                                    <label asp-for="LastName" class="control-label"></label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword" class="control-label"></label>
                                    <input asp-for="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PhoneNumber" class="control-label"></label>
                                    <input asp-for="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CompanyName" class="control-label"></label>
                                    <input asp-for="CompanyName" class="form-control" />
                                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CompanyAddress" class="control-label"></label>
                                    <input asp-for="CompanyAddress" class="form-control" />
                                    <span asp-validation-for="CompanyAddress" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UserAddress" class="control-label"></label>
                                    <input asp-for="UserAddress" class="form-control" />
                                    <span asp-validation-for="UserAddress" class="text-danger"></span>
                                </div>


                                <div class="row">
                                    <span class="span4">
                                        <input type="file" name="ImageUpload" multiple="multiple" class="input-files" />
                                    </span>

                                </div>



                                @*<div class="form-group">
            <label asp-for="FirstFinger" class="control-label"></label>
            <input asp-for="FirstFinger" class="form-control" />
            <span asp-validation-for="FirstFinger" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MiddleFinger" class="control-label"></label>
            <input asp-for="MiddleFinger" class="form-control" />
            <span asp-validation-for="MiddleFinger" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastFinger" class="control-label"></label>
            <input asp-for="LastFinger" class="form-control" />
            <span asp-validation-for="LastFinger" class="text-danger"></span>
        </div>*@
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </form>

                        </div>



                    </div>
                    @*<div>
                    <a asp-action="Index">Back to List</a>
                </div>*@
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block">
                            <form asp-action="TraineeUpload" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <p>       @Html.ActionLink("Click here to download Template for Bulk Upload", "DownloadTraineeFile", new { })</p>

                                <div class="form-group">
                                    <div class="col-md-10">
                                        <p><b>Upload Bulk Trainee with Excel File</b></p>
                                        <input type="file" name="file" multiple />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <input type="submit" value="Upload" />
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <!-- Content Wrapper END -->
    <!-- Footer START -->
    <footer class="content-footer">
        <div class="footer">
            <div class="copyright">
                <span>Copyright © 2018 <b class="text-dark">SHE Division, The Department of Petroleum Resources</b>. All rights reserved.</span>
                <span class="go-right">
                    <a href="#" class="text-gray mrg-right-15">Term &amp; Conditions</a>
                    <a href="#" class="text-gray">Privacy &amp; Policy</a>
                </span>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
    <!-- Page Container END -->
</div>

