@model MISTDO.Web.Models.AccountViewModels.TraineeViewModel
@{
    ViewData["Title"] = "Create New Trainee";
    Layout = "_LayoutDashboard";
}

<div class="page-container">
    <!-- Header START -->
    @await Html.PartialAsync("_LayoutHeader");

    <!-- Theme Toggle Button END -->
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-title">
                <p>
                    <a asp-action="Trainees" class="btn btn-success">Back</a>
                </p>
                <h4>Register Trainees</h4>

            </div>
            <script type="text/javascript">
                function ShowPreview(input) {
                    if (input.files && input.files[0]) {
                        var ImageDir = new FileReader();
                        ImageDir.onload = function (e) {
                            $('#ImagePreview').attr('src', e.target.result);
                        }
                        ImageDir.readAsDataURL(input.files[0]);
                    }
                }
            </script>
            <!-- Configure a few settings and attach camera -->
            <script language="JavaScript">
                Webcam.set({
                    width: 320,
                    height: 240,
                    image_format: 'jpeg',
                    jpeg_quality: 90
                });
                Webcam.attach('#my_camera');
            </script>


            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block">

                            <form asp-action="CreateTrainees" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="FirstName" class="control-label"></label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>



                                <div class="form-group">
                                    <label asp-for="LastName" class="control-label"></label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword" class="control-label"></label>
                                    <input asp-for="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PhoneNumber" class="control-label"></label>
                                    <input asp-for="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CompanyName" class="control-label"></label>
                                    <input asp-for="CompanyName" class="form-control" />
                                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CompanyAddress" class="control-label"></label>
                                    <input asp-for="CompanyAddress" class="form-control" />
                                    <span asp-validation-for="CompanyAddress" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UserAddress" class="control-label"></label>
                                    <input asp-for="UserAddress" class="form-control" />
                                    <span asp-validation-for="UserAddress" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="State" class="control-label"></label>
                                    <select asp-for="State" class="form-control" name="State" id="State">
                                        <option value="Abuja FCT" selected="selected">Abuja FCT</option>
                                        <option value="Abia">Abia</option>
                                        <option value="Adamawa">Adamawa</option>
                                        <option value="Akwa Ibom">Akwa Ibom</option>
                                        <option value="Anambra">Anambra</option>
                                        <option value="Bauchi">Bauchi</option>
                                        <option value="Bayelsa">Bayelsa</option>
                                        <option value="Benue">Benue</option>
                                        <option value="Borno">Borno</option>
                                        <option value="Cross River">Cross River</option>
                                        <option value="Delta">Delta</option>
                                        <option value="Ebonyi">Ebonyi</option>
                                        <option value="Edo">Edo</option>
                                        <option value="Ekiti">Ekiti</option>
                                        <option value="Enugu">Enugu</option>
                                        <option value="Gombe">Gombe</option>
                                        <option value="Imo">Imo</option>
                                        <option value="Jigawa">Jigawa</option>
                                        <option value="Kaduna">Kaduna</option>
                                        <option value="Kano">Kano</option>
                                        <option value="Katsina">Katsina</option>
                                        <option value="Kebbi">Kebbi</option>
                                        <option value="Kogi">Kogi</option>
                                        <option value="Kwara">Kwara</option>
                                        <option value="Lagos">Lagos</option>
                                        <option value="Nassarawa">Nassarawa</option>
                                        <option value="Niger">Niger</option>
                                        <option value="Ogun">Ogun</option>
                                        <option value="Ondo">Ondo</option>
                                        <option value="Osun">Osun</option>
                                        <option value="Oyo">Oyo</option>
                                        <option value="Plateau">Plateau</option>
                                        <option value="Rivers">Rivers</option>
                                        <option value="Sokoto">Sokoto</option>
                                        <option value="Taraba">Taraba</option>
                                        <option value="Yobe">Yobe</option>
                                        <option value="Zamfara">Zamfara</option>
                                        <option value="Outside Nigeria">Outside Nigeria</option>
                                    </select>
                                    <span asp-validation-for="State" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="City"></label>
                                    <input asp-for="City" class="form-control" />
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Profile Picture  </label><label style="color:crimson">( Select Your File To Upload or Take a new Picture:)</label>
                                    <div class="col-4" align="center">

                                        <span align="center"><iframe id="ImagePreview" src="~/templates/avatar.png" scrolling="auto" allowtransparency="true" allowfullscreen></iframe></span>


                                    </div>

                                    <div class="col-4" align="center">

                                        <span><input type="file" class="btn btn-success" name="ImageUpload" multiple="multiple" onchange="ShowPreview(this)" /></span>

                                        <div id="result" align="center"></div>
                                        <hr />
                                    </div>
                                </div>

                                @*<div class="form-group">
                                        <label>Fingerprint </label> <label style="color:crimson">( Place your thumb on the device:)</label>
                                        <div class="col-4" align="center">

                                            <span align="center">
                                                <img id="ImagePreview" src="~/templates/fprint1.bmp" alt="Take a new Passport" height="150" width="120">

                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Fingerprint </label> <label style="color:crimson">( Place your Index on the device:) </label>
                                        <div class="col-4" align="center">

                                            <span align="center">
                                                <img id="ImagePreview" src="~/templates/fprint.bmp" alt="Take a new Passport" height="150" width="120">

                                            </span>
                                        </div>
                                    </div>*@



                                <div class="form-group" align="center">


                                    <p> <input type="submit" class="btn btn-success" value="Create" /></p>

                                </div>
                            </form>


                        </div>
                        <!-- First, include the Webcam.js JavaScript Library -->
                        <script src="~/js/webcam.js"></script>
                        <!-- Configure a few settings and attach camera -->
                        @*<script language="JavaScript">
                                Webcam.set({
                                    width: 300,
                                    height: 150,
                                    image_format: 'jpeg',
                                    jpeg_quality: 120
                                });
                                Webcam.attach('#my_camera');
                            </script>*@

                        <!-- Code to handle taking the snapshot and displaying it locally -->
                        @*<script language="JavaScript">
                                function take_snapshot() {
                                    // take snapshot and get image data
                                    Webcam.snap(function (data_uri) {
                                        // display results in page
                                        document.getElementById('result').innerHTML =
                                            '<img id="ImageUpload" src="' +
                                            data_uri +
                                            '"/>';

                                        var file = document.getElementById("ImageUpload").src;

                                        var formdata = new FormData();
                                        formdata.append("ImageUpload", file);

                                         $.ajax({
                                                    type: "POST",
                                                    url: '@Url.Action("CreateTrainees")',
                                                    data: { base64image: file },
                                                    dataType: "json",
                                                    contentType: "application/json; charset=utf-8",
                                                    success: function (result) {
                                                        alert(" data inserted");   //hide the modal
                                                    },
                                                    error: function () {
                                                        alert("Error while inserting data");
                                                    }
                                                });



                                        Webcam.upload(data_uri,
                                            '/images/CamImages' ,
                                            function (code, text) {
                                                //alert('Photo Captured');
                                            });
                                    });
                                }
                            </script>*@




                    </div>

                </div>
                <div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-block">
                                <form asp-action="TraineeUpload" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <p>@Html.ActionLink("Click here to download Template for Bulk Upload", "DownloadTraineeFile", new { })</p>

                                    <div class="form-group">

                                        <p><b>Upload Bulk Trainee with Excel File</b></p>
                                        <input type="file" class="btn btn-success" name="file" multiple accept=".xlsx*" />
                                    </div>
                                    <div class="form-group">

                                        <input class="btn btn-success" type="submit" value="Upload" />

                                    </div>


                                </form>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

    <!-- Content Wrapper END -->
    <!-- Footer START -->
    @await Html.PartialAsync("_Footer")
    <!-- Footer END -->
    <!-- Page Container END -->
</div>

