@model MISTDO.Web.Models.Calender

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutDashboard";
}
@inject UserManager<ApplicationUser> userManager;
<link rel="stylesheet" href="~/bower_components/datatables/media/css/jquery.dataTables.css" />

<!-- Page Container START -->

<div class="page-container">
    <!-- Header START -->
    @await Html.PartialAsync("_LayoutHeader");

    <!-- Theme Toggle Button END -->
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-title">
                <p>
                    <a asp-action="Training" class="btn btn-success">Back</a>
                </p>
                <h4>Edit Training </h4>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-heading border bottom">
                            <h4 class="card-title">Training Details </h4>
                        </div>
                        <div class="card-block">
                            @{
                                var user = await userManager.GetUserAsync(User);
                                var modules = ViewBag.modules as List<SelectListItem>;
                            }
                            <div class="mrg-top-40">
                                <div class="row">
                                    <div class="col-md-8 ml-auto mr-auto">

                                        <form asp-action="EditTraining" enctype="multipart/form-data">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" asp-for="Id" />
                                            <div class="row">
                                                <div class="col-md-12">

                                                    <div class="form-group">
                                                        <label class="control-label"> Training Name</label>
                                                        <select class="form-control" asp-for="ModuleId" asp-items="modules"></select>


                                                    </div>


                                                </div>

                                            </div>


                                            <div class="row">
                                                <div class="col-md-12">


                                                    <div class="form-group">
                                                        <label class="control-label">Training Cost</label>
                                                        <input asp-for="Cost" class="form-control" hidden />
                                                        <span asp-validation-fcoor="Cost" class="text-danger"></span>
                                                    </div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label"> Training Venue </label>

                                                        <select asp-for="Venue" class="form-control" name="Venue" id="Venue">

                                                            <option value="Abuja FCT" selected="selected">Abuja FCT</option>
                                                            <option value="Abia">Abia</option>
                                                            <option value="Adamawa">Adamawa</option>
                                                            <option value="Akwa Ibom">Akwa Ibom</option>
                                                            <option value="Anambra">Anambra</option>
                                                            <option value="Bauchi">Bauchi</option>
                                                            <option value="Bayelsa">Bayelsa</option>
                                                            <option value="Benue">Benue</option>
                                                            <option value="Borno">Borno</option>
                                                            <option value="Cross River">Cross River</option>
                                                            <option value="Delta">Delta</option>
                                                            <option value="Ebonyi">Ebonyi</option>
                                                            <option value="Edo">Edo</option>
                                                            <option value="Ekiti">Ekiti</option>
                                                            <option value="Enugu">Enugu</option>
                                                            <option value="Gombe">Gombe</option>
                                                            <option value="Imo">Imo</option>
                                                            <option value="Jigawa">Jigawa</option>
                                                            <option value="Kaduna">Kaduna</option>
                                                            <option value="Kano">Kano</option>
                                                            <option value="Katsina">Katsina</option>
                                                            <option value="Kebbi">Kebbi</option>
                                                            <option value="Kogi">Kogi</option>
                                                            <option value="Kwara">Kwara</option>
                                                            <option value="Lagos">Lagos</option>
                                                            <option value="Nassarawa">Nassarawa</option>
                                                            <option value="Niger">Niger</option>
                                                            <option value="Ogun">Ogun</option>
                                                            <option value="Ondo">Ondo</option>
                                                            <option value="Osun">Osun</option>
                                                            <option value="Oyo">Oyo</option>
                                                            <option value="Plateau">Plateau</option>
                                                            <option value="Rivers">Rivers</option>
                                                            <option value="Sokoto">Sokoto</option>
                                                            <option value="Taraba">Taraba</option>
                                                            <option value="Yobe">Yobe</option>
                                                            <option value="Zamfara">Zamfara</option>
                                                            <option value="Outside Nigeria">Outside Nigeria</option>
                                                        </select>
                                                        <span asp-validation-for="Venue" class="text-danger"></span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">

                                                    <div class="form-group">
                                                        <label class="control-label"> Training Start Time</label>
                                                        <input type="text" asp-for="TrainingStartTime" class="form-control" />


                                                        <span asp-validation-for="TrainingStartTime" class="text-danger"></span>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label"> Training End Time</label>
                                                        <input type="text" asp-for="TrainingEndTime" class="form-control" />


                                                        <span asp-validation-for="TrainingEndTime" class="text-danger"></span>
                                                    </div>

                                                </div>

                                            </div>



                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Training Start When?</label>
                                                        @*<input type="" asp-for="TrainingStartDate" class="form-control" />*@
                                                        @Html.TextBoxFor(m => m.TrainingStartDate, "{0:yyyy-MM-dd}", htmlAttributes: new { type = "date", @class = "form-control" })

                                                        <span asp-validation-for="TrainingStartDate" class="text-danger"></span>
                                                    </div>

                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Training Ends When?</label>
                                                        @*<input asp-for="TrainingEndDate" class="form-control" />*@
                                                        @Html.TextBoxFor(m => m.TrainingEndDate, "{0:yyyy-MM-dd}", htmlAttributes: new { type = "date", @class = "form-control" })

                                                        <span asp-validation-for="TrainingEndDate" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-xs-6">
                                                    <div class="text-right mrg-top-5">
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-success">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Content Wrapper END -->
    <!-- Footer START -->
    @await Html.PartialAsync("_Footer")


    <!-- Footer END -->
    <!-- Page Container END -->
</div>
<script src="~/dist/assets/js/vendor.js"></script>

<script src="~/dist/assets/js/app.min.js"></script>

<!-- page plugins js -->
<script src="~/bower_components/datatables/media/js/jquery.dataTables.js"></script>

<!-- page js -->
<script src="~/dist/assets/js/table/data-table.js"></script>




