@model MISTDO.Web.ViewModels.NewCertificateViewModel

@{
    Layout = "_LayoutDashboard";
    ViewData["Title"] = "Modules";
}



<div class="page-container">
    <!-- Header START -->
    @await Html.PartialAsync("_LayoutHeader");

    <!-- Theme Toggle Button END -->
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-title">
                <h4>Select The Trainee</h4>
                <p>
                    <a class="btn btn-success" asp-action="Modules">Back</a>
                </p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block">
                            <form asp-action="EligibleUsersForCertificate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                @{
                                    var users = ViewBag.users as List<SelectListItem>;

                                }
                                <div class="form-group">
                                    <label class="control-label">
                                        Select Trainee
                                    </label>
                                    <select class="form-control" asp-for="TraineeId" asp-items="users"></select>
                                </div>
                                <div class="form-group">

                                    <Input class="form-control" value="@ViewBag.ModuleId" asp-for="ModuleId" type="hidden" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Next" class="btn btn-success" />
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Wrapper END -->
    <!-- Footer START -->
    @await Html.PartialAsync("_Footer")
    <!-- Footer END -->
    <!-- Page Container END -->
</div>


