@model MISTDO.Web.Models.ApplicationUser
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_LayoutDashboard";
}

<!-- Page Container START -->

<div class="page-container">
    <!-- Header START -->
    @await Html.PartialAsync("_LayoutHeader");

    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-block">

                            <h1 class="no-mrg-vertical">Dashboard</h1>
                            <p>
                               
                                <iframe width="1170" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiNTIyZGYzYTItMzIyOC00Mjc0LWIwZTMtMWYyNGNjYzYxMGNlIiwidCI6IjcwODU3MjViLWYwMWQtNGQwMi1hZDFjLWIxYThhNmY0NDEwNiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
                            </p>



                        </div>
                    </div>

                    @*<div class="card">
                            <div class="card-block">
                                <p class="mrg-btm-5">This Quarter</p>
                                <h1 class="no-mrg-vertical font-size-35">Awaiting Data</h1>
                                <p class="text-semibold">Total Revenue</p>

                            </div>
                        </div>*@
                </div>

            </div>

        </div>
    </div>
    <!-- Content Wrapper END -->
    <!-- Footer START -->
    <footer class="content-footer">
        <div class="footer">
            <div class="copyright">
                <span>Copyright © 2018 <img src="~/dist/assets/images/logo/footerlogo.png" width="12%" height="7%"></span>
                <span class="go-right">
                    <a href="#" class="text-gray mrg-right-15">Term &amp; Conditions</a>
                    <a href="#" class="text-gray">Privacy &amp; Policy</a>
                </span>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
    <!-- Page Container END -->
</div>