################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MISTDO.Web/obj/Debug/netcoreapp2.0
/.vs/MISTDO.Web/DesignTimeBuild
