<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DPR MISTDO Portal</title>
    @*<environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>*@
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/logo/favicon.png">
    <!-- plugins css -->


    <link rel="stylesheet" href="~/bower_components/PACE/themes/blue/pace-theme-minimal.css" />
    <link rel="stylesheet" href="~/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css" />
    <!-- page plugins css -->
    <link rel="stylesheet" href="~/bower_components/bower-jvectormap/jquery-jvectormap-1.2.2.css" />
    <link rel="stylesheet" href="~/bower_components/nvd3/build/nv.d3.min.css" />


    <!-- core css -->
    <link href="~/dist/assets/css/ei-icon.css" rel="stylesheet">
    <link href="~/dist/assets/css/themify-icons.css" rel="stylesheet">
    <link href="~/dist/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/dist/assets/css/animate.min.css" rel="stylesheet">
    <link href="~/dist/assets/css/app.css" rel="stylesheet">


    <link rel="stylesheet" href="~/bower_components/datatables/media/css/jquery.dataTables.css" />

    <link rel="stylesheet" type="text/css" href="~/bower_components2/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets2/icon/themify-icons/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/assets2/icon/icofont/css/icofont.css">
    <link rel="stylesheet" type="text/css" href="~/assets2/icon/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/bower_components2/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets2/pages/data-table/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/bower_components2/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets2/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/assets2/css/jquery.mCustomScrollbar.css">


</head>
<body>
    <div class="app">
        <div class="layout">
            @await Html.PartialAsync("_LayoutAdminAside")
            @RenderBody()
        </div>
    </div>
    <environment include="Development">
        <script src="~/lib/multiform/jquery.min.js"></script>
        <script src="~/lib/multiform/bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <!-- build:js assets/js/vendor.js -->
    <script src="~/dist/assets/js/vendor.js"></script>
    <!-- page plugins js -->
    <script src="~/bower_components/bower-jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/dist/assets/js/maps/jquery-jvectormap-us-aea.js"></script>
    <script src="~/bower_components/d3/d3.min.js"></script>
    <script src="~/bower_components/nvd3/build/nv.d3.min.js"></script>
    <script src="~/bower_components/jquery.sparkline/index.js"></script>
    <script src="~/bower_components/chart.js/dist/Chart.min.js"></script>
    <script src="~/dist/assets/js/app.min.js"></script>
    <!-- page js -->
    <script src="~/dist/assets/js/dashboard/dashboard.js"></script>
    <!-- page js -->


    <script src="~/dist/assets/js/vendor.js"></script>
    <script src="~/dist/assets/js/app.min.js"></script>

    <script src="~/bower_components/datatables/media/js/jquery.dataTables.js"></script>

    <script src="~/dist/assets/js/table/data-table.js"></script>

    <!--new guys-->
    <script src="~/bower_components2/jquery/js/jquery.min.js"></script>
    <script src="~/bower_components2/jquery-ui/js/jquery-ui.min.js"></script>
    <script src="~/bower_components2/popper.js/js/popper.min.js"></script>
    <script src="~/bower_components2/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/bower_components2/jquery-slimscroll/js/jquery.slimscroll.js"></script>
    <script src="~/bower_components2/modernizr/js/modernizr.js"></script>
    <script src="~/bower_components2/modernizr/js/css-scrollbars.js"></script>
    <script src="~/bower_components2/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components2/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets2/pages/data-table/js/jszip.min.js"></script>
    <script src="~/assets2/pages/data-table/js/pdfmake.min.js"></script>
    <script src="~/assets2/pages/data-table/js/vfs_fonts.js"></script>
    <script src="~/bower_components2/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/bower_components2/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/bower_components2/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components2/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/bower_components2/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="~/assets2/pages/data-table/js/data-table-custom.js"></script>
    <script src="~/assets2/js/pcoded.min.js"></script>
    <script src="~/assets2/js/navbar-image/vertical-layout.min.js"></script>
    <script src="~/assets2/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/assets2/js/script.js"></script>
    <environment exclude="Development">
        <script src="~/lib/multiform/jquery.min.js"></script>
        <script src="~/lib/multiform/bootstrap.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>

