
@{
    ViewData["Title"] = "Email Confirmation";
}

<div>
    <p>
        A confirmation Link has been sent to your mail
    </p>
    <p>
        <a asp-action="Login">Go back to Login</a>
    </p>
</div>

