@{
    ViewData["Title"] = "Welcome | MISTDO Portal";
}


<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--- Basic Page Needs  -->
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Meta  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="~/assets2/vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/assets2/css/heroic-features.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Favicon -->

</head>


<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:forestgreen">
        <div class="container">
            <a class="navbar-brand" href="#"><b>MISTDO</b></a>
            @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    @*<li class="nav-item active">
                        <a class="nav-link" href="#">
                            <b>Home</b>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><b>Training Modules</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><b>FAQs</b></a>
                    </li>*@
                    <li class="nav-item">
                        <a class="nav-link" href="#"><b>Contact</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="w3-content w3-section"  style="max-width:1200px; max-height:350px">
            <img class="mySlides" src="../dist/assets/images/others/welcomepage.jpg" style="width:100%; max-height:350px">
            <img class="mySlides" src="../dist/assets/images/others/welcomepage4.jpg" style="width:100%; max-height:350px">
            <img class="mySlides" src="../dist/assets/images/others/welcomepage3.jpg" style="width:100%; max-height:350px">
        </div>


        <!-- Jumbotron Header -->
        

        <!-- Page Features -->
        <div class="row text-center">



            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="../dist/assets/images/others/welcomepage3.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Trainee's Portal</h4>
                        <p class="card-text">Trainee's intending to register for courses from DPR approved centres</p>
                    </div>
                    <div class="card-footer">
                        <center><a asp-controller="Trainees" asp-action="Login" class="btn" style="min-width:100%; background-color: #0b9242; color: white;" title="This portal is for Trainees">Trainee Portal</a><br/></center>

                        @*<center><a asp-controller="Trainees" asp-action="Login" class="btn" style="min-width:40%; background-color: #0b9242; color: white;" title="This portal is for Trainees">Trainee Portal</a>|<a asp-controller="Trainees" asp-action="Login" class="btn" style="min-width:40%; background-color: #0b9242; color: white;" title="This portal is for Trainees">Trainee Portal</a></center>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="../dist/assets/images/others/welcomepage2.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Training Provider's Portal</h4>
                        <p class="card-text">DPR approved training centres .</p>
                    </div>
                    <div class="card-footer">
                        <center>
                            <a asp-controller="Trainer" asp-action="Login" class="btn" style="min-width:100%; background-color: #0b9242; color: white;" title="This Portal is for Training Centers">Trainers Portal</a><br />
                        </center>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="../dist/assets/images/others/welcomepage4.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Administrator's Portal</h4>
                        <p class="card-text"> </p>
                    </div>
                    <div class="card-footer">
                        <center><a asp-controller="Administrator" asp-action="Login" class="btn" style="min-width:100%; min-height:initial; background-color: #0b9242; color: whitesmoke;" title="This Portal is for SHE Department DPR"> Administrative Portal </a> <br /></center>

                    </div>
                </div>
            </div>



        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer style="background-color:forestgreen">
        <div class="container">
            <span style="float:left;color:aliceblue">Copyright © 2018 <img src="~/dist/assets/images/logo/footerlogo.png" width="40%" height="25%" style="margin:15px"></span>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 2000); // Change image every 2 seconds
        }
    </script>


</body>

