@model IEnumerable<MISTDO.Web.Models.Calender>
@{
    ViewData["Title"] = "Information | MISTDO Portal";
}
@inject UserManager<ApplicationUser> userManager;
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<head>
    <link rel="stylesheet" href="~/bower_components/datatables/media/css/jquery.dataTables.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--- Basic Page Needs  -->
    <link rel="stylesheet" href="~/bower_components/PACE/themes/blue/pace-theme-minimal.css" />
    <link rel="stylesheet" href="~/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css" />
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Meta  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="~/assets2/vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/assets2/css/heroic-features.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



    <!-- Favicon -->
    <style>

        /*  bhoechie tab */
        div.bhoechie-tab-container {
            z-index: 10;
            background-color: #ffffff;
            padding: 0 !important;
            border-radius: 4px;
            -moz-border-radius: 4px;
            border: 1px solid #ddd;
            margin-top: 20px;
            margin-left: 50px;
            -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
            box-shadow: 0 6px 12px rgba(0,0,0,.175);
            -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
            background-clip: padding-box;
            opacity: 0.97;
            filter: alpha(opacity=97);
        }

        div.bhoechie-tab-menu {
            padding-right: 0;
            padding-left: 0;
            padding-bottom: 0;
        }

            div.bhoechie-tab-menu div.list-group {
                margin-bottom: 0;
            }

                div.bhoechie-tab-menu div.list-group > a {
                    margin-bottom: 0;
                }

                    div.bhoechie-tab-menu div.list-group > a .glyphicon,
                    div.bhoechie-tab-menu div.list-group > a .fa {
                        color: #0b9242;
                    }

                    div.bhoechie-tab-menu div.list-group > a:first-child {
                        border-top-right-radius: 0;
                        -moz-border-top-right-radius: 0;
                    }

                    div.bhoechie-tab-menu div.list-group > a:last-child {
                        border-bottom-right-radius: 0;
                        -moz-border-bottom-right-radius: 0;
                    }

                    div.bhoechie-tab-menu div.list-group > a.active,
                    div.bhoechie-tab-menu div.list-group > a.active .glyphicon,
                    div.bhoechie-tab-menu div.list-group > a.active .fa {
                        background-color: #0b9242;
                        background-image: #0b9242;
                        color: #ffffff;
                    }

                        div.bhoechie-tab-menu div.list-group > a.active:after {
                            content: '';
                            position: absolute;
                            left: 100%;
                            top: 50%;
                            margin-top: -13px;
                            border-left: 0;
                            border-bottom: 13px solid transparent;
                            border-top: 13px solid transparent;
                            border-left: 10px solid #0b9242;
                        }

        div.bhoechie-tab-content {
            background-color: #ffffff;
            /* border: 1px solid #eeeeee; */
            padding-left: 20px;
            padding-top: 10px;
        }

        div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
            display: none;
        }

        p {
            font-family: "Times New Roman", k;
        }
    </style>


</head>

>
<!------ Include the above in your HEAD tag ---------->
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:forestgreen">
        <img src="~/images/mlogo.png" style=" height:80px; margin-left:100px;">
        <div class="container">

            <a class="navbar-brand" asp-action="Index" asp-controller="Home"><b></b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Home"><b>Home</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Contact" asp-controller="Home"><b>Contact</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Calender" asp-controller="Home"><b>Training Calendar</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="CertificateCheck" asp-controller="Home"><b>Certificates</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <!-- Page Content -->
    <div class="container">

        <br />
        <br />
        <br />
        <br />
        <!--Carousel Wrapper-->
        <div class="row text-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
                    <div class="list-group">
                        <a href="#" class="list-group-item active text-center">
                            <h4 class="glyphicon glyphicon-home"></h4><br />General Information
                        </a>
                        <a href="#" class="list-group-item text-center">
                            <h4 class="glyphicon glyphicon-road"></h4><br />FAQs
                        </a>
                        <a href="#" class="list-group-item text-center">
                            <h4 class="glyphicon glyphicon-plane"></h4><br />MISTDO Training Provider's requirements
                        </a>
                        <a href="#" class="list-group-item text-center">
                            <br />
                            <br />
                            <br />
                            <br />
                        </a>
                        <a href="#" class="list-group-item text-center">
                            <br />
                            <br />
                            <br />
                            <br />
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                    <!-- flight section -->
                    <div class="bhoechie-tab-content">
                        <div class="accordion" id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            What is MISTDO?
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body text-justify">
                                        Minimum Industry Safety Training for Downstream Operations (MISTDO) is a basic safety training requirement which must be undertaken by ALL personnel working in the downstream sector of the Nigerian oil and gas industry. It is a major component of the Safety Audit Clearance policy launched by the Department to reduce risks and occurrences of accidents in the downstream sector of the Oil and Gas industry.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Why MISTDO ?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body text-justify">
                                        MISTDO seeks to address the high rate of incidents caused by personnel working in the downstream sector of the Oil and Gas industry which have resulted in loss of lives, destruction of infrastructure, downtime in production, loss of revenue and environmental pollution. The outcome from previous Investigations reveal that poor safety knowledge and culture and a dearth of competent personnel in this sector are major causes of these incidents. Thus, to eliminate or reduce to the barest minimum future occurrences of these incidents, the Department in line with its mandate to enforce policies & programs for the safety of people, the environment and Oil and Gas infrastructure, developed MISTDO.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            What are the objectives of MISTDO ?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        <p class="card-text text-justify">
                                            i.	Enforce safety training requirements in the downstream sector.
                                        </p>
                                        <p class="card-text text-justify">
                                            ii.	Increase awareness in safety and risks associated with operations in the sector.
                                        </p>
                                        <p class="card-text text-justify">
                                            iii.	Improve knowledge and general competence level in the sector.
                                        </p>
                                        <p class="card-text text-justify">
                                            iv.	Standardize basic safety training requirements for personnel across the sector.
                                        </p>
                                        <p class="card-text text-justify">
                                            v.	Serve as a reference or guide for prospective trainees in basic safety.
                                        </p>
                                        <p class="card-text text-justify">
                                            vi.	Provide a platform to effectively monitor and regulate basic safety training activities in the sector.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Instructions for Online Registration
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                    <div class="card-body">
                                        <h6>  As a Trainee</h6>

                                        <p class="card-text text-justify">
                                            i. Click on ‘Trainee Portal’ button on Home page
                                        </p>
                                        <p class="card-text text-justify">
                                            ii.	Click on ‘Register’
                                        </p>
                                        <p class="card-text text-justify">
                                            iii. Complete the online form with bio and other required data
                                        </p>
                                        <p class="card-text text-justify">
                                            iv.	 Complete the registration process with biometrics capturing by going to any of the DPR accredited training centers of your choice listed on the website
                                        </p>
                                        <hr />
                                        <h6>  As a Training Provider</h6>

                                        <p class="card-text text-justify">
                                            i.	Go to the DPR Oil and Gas Industry Service Permit (OGISP) portal
                                        </p>
                                        <p class="card-text text-justify">
                                            ii.	 Apply for MISTDO Permit listed under the Specialized Category in line with OGISP requirements
                                        </p>
                                        <p class="card-text text-justify">
                                            iii. Upon the receipt of MISTDO OGISP Permit, Click on ‘Training Provider’s Portal’ button on Home page
                                        </p>
                                        <p class="card-text text-justify">
                                            iv.	 	Click on ‘Register’
                                        </p>
                                        <p class="card-text text-justify">
                                            v.	Enter OGISP Permit Number and proceed with the step by step registration.
                                        </p>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- train section -->
                <div class="bhoechie-tab-content">
                    <div class="accordion" id="accordion2">
                        <div class="card">
                            <div class="card-header" id="heading2a">
                                GENERAL 
                                <h5 class="mb-0">

                                    <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapse2a" aria-expanded="true" aria-controls="collapse2a">
                                        What is the full meaning of MISTDO?
                                    </button>
                                </h5>
                            </div>

                            <div id="collapse2a" class="collapse show" aria-labelledby="heading2a" data-parent="#accordion2">
                                <div class="card-body text-justify">
                                    Minimum Industry Safety Training for Downstream Operations.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading2b">
                                <h5 class="mb-0">
                                    <button class="btn btn-success collapsed" type="button" data-toggle="collapse" data-target="#collapse2b" aria-expanded="false" aria-controls="collapse2b">
                                       	Which sector of the Oil & Gas Industry is MISTDO applicable to?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse2b" class="collapse" aria-labelledby="heading2b" data-parent="#accordion2">
                                <div class="card-body text-justify">
                                    MISTDO applies to operations in the Downstream Sector
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading2c">
                                <h5 class="mb-0">
                                    <button class="btn btn-success collapsed" type="button" data-toggle="collapse" data-target="#collapse2c" aria-expanded="false" aria-controls="collapse2c">
                                        What are the objectives of MISTDO ?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse2c" class="collapse" aria-labelledby="heading2c" data-parent="#accordion2">
                                <div class="card-body">
                                    <p class="card-text text-justify">
                                        i.	Enforce safety training requirements in the downstream sector.
                                    </p>
                                    <p class="card-text text-justify">
                                        ii.	Increase awareness in safety and risks associated with operations in the sector.
                                    </p>
                                    <p class="card-text text-justify">
                                        iii.	Improve knowledge and general competence level in the sector.
                                    </p>
                                    <p class="card-text text-justify">
                                        iv.	Standardize basic safety training requirements for personnel across the sector.
                                    </p>
                                    <p class="card-text text-justify">
                                        v.	Serve as a reference or guide for prospective trainees in basic safety.
                                    </p>
                                    <p class="card-text text-justify">
                                        vi.	Provide a platform to effectively monitor and regulate basic safety training activities in the sector.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading2d">
                                <h5 class="mb-0">
                                    <button class="btn btn-success collapsed" type="button" data-toggle="collapse" data-target="#collapse2d" aria-expanded="false" aria-controls="collapse2d">
                                        Instructions for Online Registration
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse2d" class="collapse" aria-labelledby="heading2d" data-parent="#accordion2">
                                <div class="card-body">
                                    <h6>  As a Trainee</h6>

                                    <p class="card-text text-justify">
                                        i. Click on ‘Trainee Portal’ button on Home page
                                    </p>
                                    <p class="card-text text-justify">
                                        ii.	Click on ‘Register’
                                    </p>
                                    <p class="card-text text-justify">
                                        iii. Complete the online form with bio and other required data
                                    </p>
                                    <p class="card-text text-justify">
                                        iv.	 Complete the registration process with biometrics capturing by going to any of the DPR accredited training centers of your choice listed on the website
                                    </p>
                                    <hr />
                                    <h6>  As a Training Provider</h6>

                                    <p class="card-text text-justify">
                                        i.	Go to the DPR Oil and Gas Industry Service Permit (OGISP) portal
                                    </p>
                                    <p class="card-text text-justify">
                                        ii.	 Apply for MISTDO Permit listed under the Specialized Category in line with OGISP requirements
                                    </p>
                                    <p class="card-text text-justify">
                                        iii. Upon the receipt of MISTDO OGISP Permit, Click on ‘Training Provider’s Portal’ button on Home page
                                    </p>
                                    <p class="card-text text-justify">
                                        iv.	 	Click on ‘Register’
                                    </p>
                                    <p class="card-text text-justify">
                                        v.	Enter OGISP Permit Number and proceed with the step by step registration.
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="bhoechie-tab-content">
                    <div class="accordion" id="accordion3">
                        <div class="card">
                            <div class="card-header" id="heading3a">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse2a" aria-expanded="true" aria-controls="collapse3a">
                                        A.  OGISP Requirements
                                    </button>
                                </h5>
                            </div>

                            <div id="collapse3a" class="collapse show" aria-labelledby="heading3a" data-parent="#accordion3">
                                <div class="card-body text-justify">
                                    Oil and Gas Industry Service Permit (OGISP) basic documentation requirements.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="heading3b">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse3b" aria-expanded="false" aria-controls="collapse3b">
                                        B. Training Facility Requirements
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse3b" class="collapse" aria-labelledby="heading3b" data-parent="#accordion3">
                                <div class="card-body">
                                    <p class="card-text text-justify">
                                        •	Be fully fenced to ensure safety of personnel.
                                    </p>
                                    <p class="card-text text-justify">
                                        •	Be aesthetically-pleasing and accessible.
                                    </p>
                                    <p class="card-text text-justify">
                                        •	Possess a signage at a visible location.
                                    </p>
                                    <p class="card-text text-justify">
                                        •	Availability of Computers/Library/Offices.
                                    </p>
                                    <p class="card-text text-justify">
                                        •	Have classroom(s) with minimum capacity of sixteen (16) trainees, furnished with tables and chairs, adequate ventilation, adequate lighting, audio-visual capabilities and internet access.
                                    </p>
                                    <p class="card-text text-justify">
                                        •	Have designated areas for hands-on practical clearly delineated.
                                    </p>
                                    <p class="card-text text-justify">
                                        •	Have medical personnel (doctors, nurses etc) on ground and functional medical equipment (first aid kits, etc.)
                                    </p>
                                    <p class="card-text text-justify">
                                        •	Possess uninterrupted power supply
                                    </p>
                                    <p class="card-text text-justify">
                                        •	Possess monitoring and surveillance systems such as CCTV etc.
                                    </p>
                                    <p class="card-text text-justify">
                                        •	Have a clean and pest-free eatery/canteen with potable water supply.
                                    </p>
                                    <p class="card-text text-justify">
                                        •	Have public convenience
                                    </p>
                                    <p class="card-text text-justify">
                                        •	Possess simulation equipment as applicable
                                    </p>
                                    <p class="card-text text-justify">
                                        •	Have other equipment that may be determined by the DPR from time to time
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading3c">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse3c" aria-expanded="false" aria-controls="collapse3c">
                                        C.	The Management System should
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse3c" class="collapse" aria-labelledby="heading3c" data-parent="#accordion3">
                                <div class="card-body">
                                    <p class="card-text text-justify">
                                        •	Have a clearly defined organogram
                                    </p>
                                    <p class="card-text text-justify">
                                        •	Have a Management commitment,
                                    </p>
                                    <p class="card-text text-justify">
                                        •	Have Third party certification/accreditation


                                    </p>
                                    <p class="card-text text-justify">
                                        •	Have Trainees and staff feedback system
                                        •	Have clearly defined emergency procedures and emergency response systems

                                    </p>
                                    <p class="card-text text-justify">
                                        •	Have document/data management and control policy

                                    </p>
                                    <p class="card-text text-justify">
                                        •	Have inspection and maintenance policy/procedure
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading3d">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse3d" aria-expanded="false" aria-controls="collapse3d">
                                        Instructions for Online Registration
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse3d" class="collapse" aria-labelledby="heading3d" data-parent="#accordion3">
                                <div class="card-body">
                                    <h6>  As a Trainee</h6>

                                    <p class="card-text text-justify">
                                        i. Click on ‘Trainee Portal’ button on Home page
                                    </p>
                                    <p class="card-text text-justify">
                                        ii.	Click on ‘Register’
                                    </p>
                                    <p class="card-text text-justify">
                                        iii. Complete the online form with bio and other required data
                                    </p>
                                    <p class="card-text text-justify">
                                        iv.	 Complete the registration process with biometrics capturing by going to any of the DPR accredited training centers of your choice listed on the website
                                    </p>
                                    <hr />
                                    <h6>  As a Training Provider</h6>

                                    <p class="card-text text-justify">
                                        i.	Go to the DPR Oil and Gas Industry Service Permit (OGISP) portal
                                    </p>
                                    <p class="card-text text-justify">
                                        ii.	 Apply for MISTDO Permit listed under the Specialized Category in line with OGISP requirements
                                    </p>
                                    <p class="card-text text-justify">
                                        iii. Upon the receipt of MISTDO OGISP Permit, Click on ‘Training Provider’s Portal’ button on Home page
                                    </p>
                                    <p class="card-text text-justify">
                                        iv.	 	Click on ‘Register’
                                    </p>
                                    <p class="card-text text-justify">
                                        v.	Enter OGISP Permit Number and proceed with the step by step registration.
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- hotel search -->
                @*<div class="bhoechie-tab-content">
                    <center>


                    </center>
                </div>*@
                <div class="bhoechie-tab-content">
                    <center>

                    </center>
                </div>
                <div class="bhoechie-tab-content">
                    <center>

                    </center>
                </div>
            </div>
            </div>
        </div>
        <!--/.Carousel Wrapper-->


        <br />
        <br />



        <!-- Jumbotron Header -->
        <!-- Page Features -->
       
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer style="background-color:black">
        <div class="container">
            <span style="float:left;color:aliceblue">Copyright © @DateTime.Now.Year <img src="~/dist/assets/images/logo/footerlogo.png" width="65%" height="45%" style="margin:15px"></span>
        </div>
        <!-- /.container -->
    </footer>
    <script src="~/dist/assets/js/vendor.js"></script>
    <script src="~/dist/assets/js/app.min.js"></script>

    <!-- page plugins js -->
    <script src="~/bower_components/datatables/media/js/jquery.dataTables.js"></script>

    <!-- page js -->
    <script src="~/dist/assets/js/table/data-table.js"></script>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
                e.preventDefault();
                $(this).siblings('a.active').removeClass("active");
                $(this).addClass("active");
                var index = $(this).index();
                $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
            });
        });
    </script>


</body>

