<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DPR MISTDO Portal</title>
    @*<environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>*@
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/logo/favicon.png">
    <!-- plugins css -->
    <link href="~/lib/multiform/bootstrap.min.css" rel="stylesheet" />

    <!-- core css -->
    <link href="~/dist/assets/css/ei-icon.css" rel="stylesheet">
    <link href="~/dist/assets/css/themify-icons.css" rel="stylesheet">
    <link href="~/dist/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/dist/assets/css/animate.min.css" rel="stylesheet">
    <link href="~/dist/assets/css/app.css" rel="stylesheet">

    @*//css here*@

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.5/css/fixedHeader.dataTables.min.css">

</head>
<body>
    <div class="app">
        <div class="layout">
            @await Html.PartialAsync("_LayoutAdminAside")
            @RenderBody()
        </div>
    </div>
    <environment include="Development">
        <script src="~/lib/multiform/jquery.min.js"></script>
        <script src="~/lib/multiform/bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <!-- build:js assets/js/vendor.js -->
    @*// js here*@
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>



    <environment exclude="Development">
        <script src="~/lib/multiform/jquery.min.js"></script>
        <script src="~/lib/multiform/bootstrap.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>

