@inject UserManager<ApplicationUser> userManager;

    <header class="navbar navbar-default navbar-fixed-top">
        <div class="topBar">
            <div class="container">

                <p class="topBarText"><i class="fa fa-phone"></i> +234 (1) 2790000</p>

                <p class="topBarText"><i class="fa fa-envelope"></i> info@dpr.gov.ng</p>

            </div>
        </div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="container">
            <div class="navbar-header">

                <a asp-controller="Home" asp-action="Index"><img src="~/img/logoGreen.png" class="imag" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown menu-item-has-children">
                        <a asp-action="Index" asp-controller="Home" class="current">HOME</a>

                    </li>
                    <li class="dropdown menu-item-has-children">
                        <a asp-action="Calender" asp-controller="Home">VIEW TRAINING CALENDAR</a>

                    </li>
                    <li class="dropdown menu-item-has-children">
                        <a asp-action="CertificateCheck" asp-controller="Home">VERIFY MISTDO CERTIFICATIONS</a>

                    </li>
                    <li class="dropdown menu-item-has-children">
                        <a href="https://www.dpr.gov.ng/contact/" target="_blank">CONTACT</a>

                    </li>
                    <li class="dropdown menu-item-has-children">
                        <img src="~/images/mistdologo.png" class="mist imag"/>

                    </li>
                    

                </ul>


            </div><!--/.navbar-collapse -->
        </div><!-- end header container -->
    </header><!-- End Header -->
@*<div class="header navbar">
    <div class="header-container">
        <ul class="nav-left">
            <li>
                <a class="side-nav-toggle" href="javascript:void(0);">
                    <i class="ti-view-grid"></i>
                </a>
            </li>*@


@{
    var user = await userManager.GetUserAsync(User);


}

@*@*<li class="search-input">
            <input class="form-control" type="text" placeholder="Search...">
            <div class="advanced-search">
                <div class="search-wrapper">



                </div>
                <div class="search-footer">
                    <span>You are Searching for '<b class="text-dark"><span class="serach-text-bind"></span></b>'</span>
                </div>
            </div>
        </li>
    </ul>
    <ul class="nav-right">
        <li class="search-box">
            <a class="search-toggle no-pdd-right" href="javascript:void(0);">
                <i class="search-icon ti-search pdd-right-10"></i>
                <i class="search-icon-close ti-close pdd-right-10"></i>
            </a>
        </li>
           <li class="nav-item ">
            <a class="no-pdd-right" asp-controller="Home" asp-action="Index">
                <span class="icon-holder">
                    <i class="ti-home"></i>
                </span>
                <span class="title">Home</span>
            </a>
        </li>
        <li class="user-profile dropdown">
            @{
                try
                {
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        @*<img class="profile-img img-fluid" src="assets/images/user.jpg" alt="profile image">*@
@*<div class="user-info">

                    <span class="name pdd-right-5"> <label> @user.CentreName</label>  </span>



                    <i class="ti-angle-down font-size-10"></i>
                </div>
            </a>
        }
        catch
        {

        }
    }
    <ul class="dropdown-menu">

        <li>
            <a asp-controller="TrainerDashboard" asp-action="Profile">
                <i class="ti-user pdd-right-10"></i>
                <span>Profile</span>
            </a>
        </li>
        <li>
            <a asp-controller="TrainerDashboard" asp-action="Notification">
                <i class="ti-email pdd-right-10"></i>
                <span>Inbox</span>
            </a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
            <a asp-controller="TrainerDashboard" asp-action="Logout">
                <i class="ti-power-off pdd-right-10"></i>
                <span>Logout</span>
            </a>
        </li>
    </ul>*@
