<!-- Side Nav START -->
<div class="side-nav">
    <div class="side-nav-inner">
        <div class="side-nav-logo">
            <a asp-controller="Home" asp-action="Index">
                <div class="logo" > <img  src="~/dist/assets/images/logo/dpr logo.png" width="240" alt=""></div>
              

                @*<div class="logo" style="background-image: url('/dist/assets/images/logo/jepeg_logo.jpg')"></div>*@
            </a>
            <div class="mobile-toggle side-nav-toggle">
                <a href="#">
                    <i class="ti-arrow-circle-left"></i>
                </a>
            </div>
        </div>
        <ul class="side-nav-menu scrollable">
            <li class="nav-item active">
                <a class="mrg-top-30" asp-action="Index">
                    <span class="icon-holder">
                        <i class="ti-dashboard"></i>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a asp-controller="TrainerDashboard" asp-action="Profile">
                    <span class="icon-holder">
                        <i class="ti-user"></i>
                    </span>
                    <span class="title">Profile</span>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="TrainerDashboard" asp-action="Trainees">
                    <span class="icon-holder">
                        <i class="ti-id-badge"></i>
                    </span>
                    <span class="title">Trainees</span>
                </a>
            </li>
            <li class="nav-item ">
                <a asp-controller="TrainerDashboard" asp-action="Certificate">
                    <span class="icon-holder">
                        <i class="ti-medall"></i>
                    </span>
                    <span class="title">Certificate</span>
                </a>
            </li>
            <li class="nav-item ">
                <a asp-controller="TrainerDashboard" asp-action="Training">
                    <span class="icon-holder">
                        <i class="ti-calendar"></i>
                    </span>
                    <span class="title">Training Calender</span>
                </a>
            </li>
            <li class="nav-item ">
                <a asp-controller="TrainerDashboard" asp-action="Notification">
                    <span class="icon-holder">
                        <i class="ti-bell"></i>
                    </span>
                    <span class="title">Notification </span>
                </a>
            </li>
            <li class="nav-item ">
                <a asp-controller="TrainerDashboard" asp-action="SupportTrainees">
                    <span class="icon-holder">
                        <i class="ti-light-bulb"></i>
                    </span>
                    <span class="title">Resolve  Support Tickets </span>
                </a>
            </li>
            <li class="nav-item ">
                <a asp-controller="TrainerDashboard" asp-action="Support">
                    <span class="icon-holder">
                        <i class="ti-help"></i>
                    </span>
                    <span class="title">Help Support </span>
                </a>
            </li>
            
          </ul>

</div>
</div>
<!-- Side Nav END -->