            <!-- Side Nav START -->
<div class="side-nav">
    <div class="side-nav-inner">
        <div class="side-nav-logo">
            <a href="index-2.html">
                <div class="logo logo-dark" style="background-image: url('/dist/assets/images/logo/jepeg_logo.jpg')"></div>
                <div class="logo logo-white" style="background-image: url('/dist/assets/images/logo/jepeg_logo.jpg')"></div>
            </a>
            <div class="mobile-toggle side-nav-toggle">
                <a href="#">
                    <i class="ti-arrow-circle-left"></i>
                </a>
            </div>
        </div>
        <ul class="side-nav-menu scrollable">
            <li class="nav-item active">
                <a class="mrg-top-30" href="/administrator">
                    <span class="icon-holder">
                        <i class="ti-dashboard"></i>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="ti-id-badge"></i>
                    </span>
                    <span class="title">Registered Trainees</span>
                    <span class="arrow">
                        <i class="ti-angle-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-conroller="Administrator" asp-action="AllRegisteredTrainees"> All Registered Trainee</a>
                    </li>
                    <li>
                        <a asp-controller="Administrator" asp-action="AllModuleTrainees">Registered Module Trainees</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="/trainees">
                    <span class="icon-holder">
                        <i class="ti-medall"></i>
                    </span>
                    <span class="title">Certification</span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="/trainerdashboard/certificate">
                    <span class="icon-holder">
                        <i class="ti-view-list"></i>
                    </span>
                    <span class="title">Accredited Training Institutes </span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="/training">
                    <span class="icon-holder">
                        <i class="ti-user"></i>
                    </span>
                    <span class="title"> User Management</span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="/trainer/notification">
                    <span class="icon-holder">
                        <i class="ti-bell pdd-right-10"></i>
                    </span>
                    <span class="title">Notification </span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="/trainer/support">
                    <span class="icon-holder">
                        <i class="ti-help"></i>
                    </span>
                    <span class="title">Help Support </span>
                </a>
            </li>
    </div>
</div>
<!-- Side Nav END -->
