<!-- Side Nav START -->

<div class="side-nav">
    <div class="side-nav-inner">
        <div class="side-nav-logo">
            <a asp-controller="Home" asp-action="Index">
                <div class="logo"> <img src="~/dist/assets/images/logo/dpr logo.png" width="240" alt=""></div>
                @*<div class="logo logo-white" style="background-image: url('/dist/assets/images/logo/jepeg_logo.jpg')"></div>*@
            </a>
            <div class="mobile-toggle side-nav-toggle">
                <a href="#">
                    <i class="ti-arrow-circle-left"></i>
                </a>
            </div>
        </div>
        <ul class="side-nav-menu scrollable">
        
            <li class="nav-item ">
                <a  asp-controller="Trainees" asp-action="Dashboard" title="Your Dashboard">
                    <span class="icon-holder">
                        <i class="ti-dashboard"></i>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>



            <li class="nav-item">
                <a asp-action="Profile" asp-controller="Trainees" title=" Profile Page">
                    <span class="icon-holder">
                        <i class="ti-user"></i>
                    </span>
                    <span class="title">Profile</span>
                </a>
            </li>



            <li class="nav-item ">
                <a asp-controller="Trainees" asp-action="Certificate" title="Certificates">
                    <span class="icon-holder">
                        <i class="ti-medall"></i>
                    </span>
                    <span class="title">Certificates</span>
                </a>
            </li>
            <li class="nav-item ">
                <a asp-controller="Trainees" asp-action="Training" title="Trainings">
                    <span class="icon-holder">
                        <i class="ti-agenda"></i>
                    </span>
                    <span class="title">Trainings </span>
                </a>
            </li>
            <li class="nav-item ">
                <a asp-controller="Trainees" asp-action="Calender" title="Training Calenders from Training Providers ">
                    <span class="icon-holder">
                        <i class="ti-calendar"></i>
                    </span>
                    <span class="title">Training Calenders </span>
                </a>
            </li>

            <li class="nav-item ">
                <a asp-controller="Trainees" asp-action="Notification" title="Notifications from DPR">
                    <span class="icon-holder">
                        <i class="ti-bell"></i>
                    </span>
                    <span class="title">Notifications </span>
                </a>
            </li>
            <li class="nav-item ">
                <a asp-controller="Trainees" asp-action="Support" title="Support Tickets to Training Providers">
                    <span class="icon-holder">
                        <i class="ti-help"></i>
                    </span>
                    <span class="title">Help Supports </span>
                </a>
            </li>
            <li class="nav-item ">
                <a asp-controller="Trainees" asp-action="Feedback" title="Feedbacks to DPR">
                    <span class="icon-holder">
                        <i class="ti-receipt"></i>
                    </span>
                    <span class="title">Feedbacks </span>
                </a>
            </li>
            
        </ul>
    </div>
</div>
<!-- Side Nav END -->