<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DPR MISTDO Portal</title>
    @*<environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>*@
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/logo/favicon.png">
    <!-- plugins css -->
    <link href="~/lib/multiform/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/bower_components/PACE/themes/blue/pace-theme-minimal.css" />
    <link rel="stylesheet" href="~/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css" />

    <!-- page plugins css -->
    <link rel="stylesheet" href="~/bower_components/bower-jvectormap/jquery-jvectormap-1.2.2.css" />
    <link rel="stylesheet" href="~/bower_components/nvd3/build/nv.d3.min.css" />


    <!-- core css -->
    <link href="~/dist/assets/css/ei-icon.css" rel="stylesheet">
    <link href="~/dist/assets/css/themify-icons.css" rel="stylesheet">
    <link href="~/dist/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/dist/assets/css/animate.min.css" rel="stylesheet">
    <link href="~/dist/assets/css/app.css" rel="stylesheet">


   
</head>
<body>

    <div class="app">
        <div class="layout">
            @await Html.PartialAsync("_LayoutTraineeAside")

            @RenderBody()
        </div>
    </div>
    <environment include="Development">
        <script src="~/lib/multiform/jquery.min.js"></script>
        <script src="~/lib/multiform/bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <!-- build:js assets/js/vendor.js -->
    <script src="~/dist/assets/js/vendor.js"></script>

    <!-- page plugins js -->
    <script src="~/bower_components/bower-jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/dist/assets/js/maps/jquery-jvectormap-us-aea.js"></script>
    <script src="~/bower_components/d3/d3.min.js"></script>
    <script src="~/bower_components/nvd3/build/nv.d3.min.js"></script>
    <script src="~/bower_components/jquery.sparkline/index.js"></script>
    <script src="~/bower_components/chart.js/dist/Chart.min.js"></script>

    <script src="~/dist/assets/js/app.min.js"></script>

    <!-- page js -->
    <script src="~/dist/assets/js/dashboard/dashboard.js"></script>
    <!-- page js -->
    <environment exclude="Development">

        <script src="~/lib/multiform/jquery.min.js"></script>
        <script src="~/lib/multiform/bootstrap.min.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>


