            <!-- Side Nav START -->
<div class="side-nav">
    <div class="side-nav-inner">
        <div class="side-nav-logo">
            <a asp-controller="Home" asp-action="Index">
                <div class="logo"> <img src="~/dist/assets/images/logo/dpr logo.png" width="240" alt=""></div>
                @*<div class="logo logo-white" style="background-image: url('/dist/assets/images/logo/jepeg_logo.jpg')"></div>*@
            </a>
            <div class="mobile-toggle side-nav-toggle">
                <a href="#">
                    <i class="ti-arrow-circle-left"></i>
                </a>
            </div>
        </div>
        <ul class="side-nav-menu scrollable">
            <li class="nav-item active"  title="Admin Dashboard">
                <a asp-controller="Administrator" asp-action="Dashboard">
                    <span class="icon-holder">
                        <i class="ti-dashboard"></i>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item dropdown"  title="Registered Trainees on MISTDO">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="ti-id-badge"></i>
                    </span>
                    <span class="title">Registered Trainees</span>
                    <span class="arrow">
                        <i class="ti-angle-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-controller="Administrator" asp-action="AllRegisteredTrainees"> All Registered Trainee</a>
                    </li>
                    <li>
                        <a asp-controller="Administrator" asp-action="AllModuleTrainees">Registered Trainees By Module</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item"  title="Certificates Awarded to Trainees">
                <a asp-controller="Administrator" asp-action="AllCertificate">
                    <span class="icon-holder">
                        <i class="ti-medall"></i>
                    </span>
                    <span class="title">Certificates</span>
                </a>
            </li>
            <li class="nav-item "  title=" D.P.R Approved Modules ">
                <a asp-controller="Administrator" asp-action="AllModules">
                    <span class="icon-holder">
                        <i class="ei-file-check"></i>
                    </span>
                    <span class="title">Approved Modules</span>
                </a>
            </li>
            <li class="nav-item "  title="Training Centers Training Calender">
                <a asp-controller="Administrator" asp-action="AllCalender">
                    <span class="icon-holder">
                        <i class="ei-calendar"></i>
                    </span>
                    <span class="title">Training Calender </span>
                </a>
            </li>
            <li class="nav-item "  title="Accredited Training Providers">
                <a asp-controller="Administrator" asp-action="AllTrainingCenter">
                    <span class="icon-holder">
                        <i class="ti-view-list"></i>
                    </span>
                    <span class="title">Accredited Training Providers </span>
                </a>
            </li>
            <li class="nav-item "  title="User Management">
                <a href="/training">
                    <span class="icon-holder">
                        <i class="ti-user"></i>
                    </span>
                    <span class="title"> User Management</span>
                </a>
            </li>
            <li class="nav-item " title="Total Revenue">
                <a asp-controller="Administrator" asp-action="Account">
                    <span class="icon-holder">
                        <i class="ti-receipt"></i>
                    </span>
                    <span class="title">Training Accounts</span>
                </a>
            </li>
            <li class="nav-item dropdown " title="Notifications">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="ti-bell"></i>
                    </span>
                    <span class="title">Notifications</span>
                    <span class="arrow">
                        <i class="ti-angle-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-controller="Administrator" asp-action="TrainersNotification"> Training Centre Notification</a>
                    </li>
                    <li>
                        <a asp-controller="Administrator" asp-action="TraineesNotification">Trainees Notification</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item "  title="Respond to Support Tickets from Trainees">
                <a asp-controller="Administrator" asp-action="Support">
                    <span class="icon-holder">
                        <i class="ti-help"></i>
                    </span>
                    <span class="title">Resolve Support Tickets</span>
                </a>
            </li>
            <li class="nav-item "  title="Feedbacks from Trainees">
                <a asp-controller="Administrator" asp-action="Feedback">
                    <span class="icon-holder">
                        <i class="ti-receipt"></i>
                    </span>
                    <span class="title">Feedbacks </span>
                </a>
            </li>
</div>
</div>
<!-- Side Nav END -->
