<!-- Side Nav START -->

<div class="side-nav">
    <div class="side-nav-inner">
        <div class="side-nav-logo">
            <a asp-controller="Home" asp-action="Index">
                <div class="logo"> <img src="~/dist/assets/images/logo/dpr logo.png" width="240" alt=""></div>
                @*<div class="logo logo-white" style="background-image: url('/dist/assets/images/logo/jepeg_logo.jpg')"></div>*@
            </a>
            <div class="mobile-toggle side-nav-toggle">
                <a href="#">
                    <i class="ti-arrow-circle-left"></i>
                </a>
            </div>
        </div>
        <ul class="side-nav-menu scrollable">
            <li class="nav-item ">
                <a class="mrg-top-30" asp-controller="Home" asp-action="Index">
                    <span class="icon-holder">
                        <i class="ti-home"></i>
                    </span>
                    <span class="title">Home</span>
                </a>
            </li>
            @*<li class="nav-item ">
                <a asp-controller="Trainees" asp-action="Dashboard">
                    <span class="icon-holder">
                        <i class="ti-dashboard"></i>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>*@
        </ul>
    </div>
</div>
<!-- Side Nav END -->