@model MISTDO.Web.Models.Modules
@{
    ViewData["Title"] = "Create Module";
    Layout = "_LayoutAdminDashboard";
}
@*@inject UserManager<ApplicationUser> userManager;*@
<div class="page-container">
    <!-- Header START -->
    @await Html.PartialAsync("_LayoutHeaderAdmin");

    <!-- Theme Toggle Button END -->
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-title">
                <h4>Create New Training </h4>
                @*<p>
                        <a asp-action="Create">Create New</a>
                    </p>*@
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block">

                            <form asp-action="CreateModule" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label class="control-label"> Module Name</label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Module ShortCode</label>
                                    <input asp-for="ShortCode" class="form-control" />
                                    <span asp-validation-for="ShortCode" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Module Desciption</label>
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Module Student Registration Cost</label>
                                    <input asp-for="Cost" class="form-control" />
                                    <span asp-validation-for="Cost" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-success" />
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Wrapper END -->
    <!-- Footer START -->
    @await Html.PartialAsync("_Footer");
    <!-- Footer END -->
    <!-- Page Container END -->
</div>

