@model AssignTrainerModule
@{
    ViewData["Title"] = "Modules| Assign to Trainer";
    Layout = "_LayoutAdminDashboard";
}
@inject UserManager<ApplicationUser> userManager;
@{
    var user = await userManager.GetUserAsync(User);

}
<link rel="stylesheet" href="~/bower_components/datatables/media/css/jquery.dataTables.css" />
<div class="page-container">
    <!-- Header START -->
    @await Html.PartialAsync("_LayoutHeaderAdmin");

    <!-- Theme Toggle Button END -->
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-title">
                <h4>Select The Training Module</h4>
                <p>
                    <a class="btn btn-success" asp-action="AllTrainingCenter">Back</a>
                </p>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block">
                            <form asp-action="AssignTrainerModule" method="post" enctype="multipart/form-data">
                                <div class="form-group"></div>
                                @{
                                    var modules = ViewBag.modules as List<SelectListItem>;

                                }
                                <div class="form-group">
                                    <label class="control-label">
                                        Select Module
                                    </label>
                                    <select class="form-control" asp-for="ModuleId" asp-items="modules"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Training Provider's ID
                                    </label>
                                    <input type="Text" asp-for="CentreId"  class="form-control" name="trainer" id="trainer" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Assign" class="btn btn-success" />
                                </div>
                            </form>
                        </div>



                    </div>

                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block">
                            <div class="table-overflow">
                                <table id="dt-opt" class="table table-lg table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                               Centre ID
                                            </th>
                                            <th>
                                                Assigned Module
                                            </th>


                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            // var data = ViewBag.Message as IEnumerable<MISTDO.Web.Models.Notification>;
                                            var data = (IEnumerable<MISTDO.Web.Models.AssignTrainerModule>)ViewBag.Message;
                                        }
                                        @foreach (var item in data)
                                        {
                                            <tr>
                                                <td width="60%">
                                                    @Html.DisplayFor(modelItem => item.CentreId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ModuleName)
                                                </td>


                                                <td>
                                                    <a asp-action="DeleteTrainerModule" asp-route-id="@item.Id" title="Delete Module?" class="btn btn-success">Delete</a>
                                                </td>


                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Wrapper END -->
    <!-- Footer START -->
    @await Html.PartialAsync("_Footer")
    <!-- Footer END -->
    <!-- Page Container END -->
</div>
<script src="https://code.jquery.com/jquery-2.2.1.js"></script>

<script src="~/dist/assets/js/app.min.js"></script>
<script src="~/dist/assets/js/vendor.js"></script>
<script src="~/bower_components/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/dist/assets/js/table/data-table.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<script src="https://code.jquery.com/ui/1.8.24/jquery-ui.js"></script>

<script>
    $(document).ready(function () {
        $('#trainer').autocomplete({
            source: '/api/trainers/searchid'
        });
    });
</script>
