@model IEnumerable<MISTDO.Web.Models.Feedback>
@{
    ViewData["Title"] = "Feedback";
     Layout = "_LayoutAdminDashboard";
}

<link rel="stylesheet" href="~/bower_components/datatables/media/css/jquery.dataTables.css" />

<!-- Page Container START -->

<div class="page-container">
    <!-- Header START -->
    @await Html.PartialAsync("_LayoutHeaderAdmin");

    <!-- Theme Toggle Button END -->
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="page-title">
                <h4>Feedbacks From Trainees</h4>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="table-overflow">
                                <table id="dt-opt" class="table table-lg table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Recieved Date & Time
                                            </th>
                                            <th>
                                                Feedback Subject
                                            </th>
                                            <th>
                                                Feedback Message
                                            </th>



                                            @*<th></th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <th>
                                                    @Html.DisplayFor(model => item.FeedbackTimeStamp)
                                                </th>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FeedbackSubject)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FeedbackMessage)
                                                </td>



                                                @*<td>

                                                         <a asp-action="FeedbackDetails" asp-route-id="@item.Id">Details</a>


                                                    </td>*@
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Wrapper END -->
    <!-- Footer START -->
    @await Html.PartialAsync("_Footer")
    <!-- Footer END -->
    <!-- Page Container END -->
</div>
<script src="~/dist/assets/js/vendor.js"></script>

<script src="~/dist/assets/js/app.min.js"></script>

<!-- page plugins js -->
<script src="~/bower_components/datatables/media/js/jquery.dataTables.js"></script>

<!-- page js -->
<script src="~/dist/assets/js/table/data-table.js"></script>



