@model TraineeLoginViewModel
@{
    ViewData["Title"] = "Trainee Portal | MISTDO Portal";
}
<div class="app">
    <div class="authentication">
        <div class="sign-in">
            <div class="row no-mrg-horizon">
                <div class="col-md-8 no-pdd-horizon d-none d-md-block">
                    <div class="full-height bg" style="background-image: url('../dist/assets/images/others/welcomepage4.jpg')">
                        <div class="img-caption">
                            @*<h1 class="caption-title">We make spectacular</h1>
                                <p class="caption-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-4 no-pdd-horizon">
                    <div class="full-height bg-white height-100">
                        <div class="vertical-align full-height pdd-horizon-70">
                            <div class="table-cell">
                                <div class="pdd-horizon-15">
                                    <img class="img-responsive inline-block" src="~/dist/assets/images/logo/jepeg_logo.jpg" alt=""><br /><br />
                                    <h2>SHE Administrative Portal Login</h2>
                                    <p class="mrg-btm-15 font-size-13">Please enter your user name and password to login</p>
                                    <form asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <input asp-for="Email" class="form-control" placeholder="User name" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="Password" class="form-control" placeholder="Password" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="RememberMe">
                                                <input asp-for="RememberMe" />
                                                @Html.DisplayNameFor(m => m.RememberMe)
                                            </label>
                                        </div>

                                        @*<button type="submit" class="btn" style="min-width:100%; background-color: #0b9242; color: white;">Login</button>*@
                                        <a asp-controller="Administrator" asp-action="Dashboard" class="btn" style="min-width:100%; background-color: #0b9242; color: white;"> Login</a><div class="form-group">
                                            <span class="font-size-13  pdd-top-30"><a asp-action="ForgotPassword" style="color:#888da8;">Forget Password?</a></span>
                                            <span class="font-size-13 pull-right pdd-top-10"><a asp-action="RegisterNow" style="color:#888da8;">Register Now</a></span>
                                        </div>
                                    </form>
                                    @*<center><a href="#" class="btn" style="min-width:100%; background-color: #0b9242; color: white;">Trainee Portal</a><br /></center>*@
                                </div>
                            </div>
                        </div>
                        <div class="login-footer">
                            <img class="img-responsive inline-block" src="~/dist/assets/images/logo/jepeg_logo.jpg" width="150" alt="">
                            <span class="font-size-13 pull-right pdd-top-10">MISTDO Portal &copy; 2018</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
