@model TraineeLoginViewModel
@{
    ViewData["Title"] = "SHE Administrative Portal | MISTDO Portal";
}

<style>
    @@media screen and (max-width: 700px) and (min-width: 520px) {
  body {
    background: red;
  }
}
</style>
<div class="app">
    <div class="authentication">
        <div class="sign-in">
            <div class="col-md-4 no-pdd-horizon d-none d-md-block">
                <div class="full-height bg" style="background-image: url('../dist/assets/images/others/welcomepage4.jpg')">
                    <div class="img-caption">
                        <h1 class="caption-title">Crude Oil Upstream Station</h1>
                        <p class="caption-text">Goddess Hathor giving an Ankh to Nefertari,﻿ by unknown, <a href="www.wikipedia.com">Wikipedia</a>, Public Domain.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 no-pdd-horizon d-none d-md-block">
                <div class="row-border" align="center">
                    <div style="bottom:0">
                        <h1 align="center" class="caption-title">S.H.E Department MISTDO Portal</h1>
                        <div align="center">  <img class="img-responsive inline-block" src="~/dist/assets/images/others/hse.jpg" width="150" height="100" alt="" sizes="60"><br /> </div>

                        <p class="timeline-title">Awaiting some more text of the printing and typesetting industry. <br />Lorem Ipsum has been the industry's<br /> standard dummy text ever since the 1500s<a href="#">...more</a></p>
                    </div>
                    <div style="float:unset; position:relative">
                        <img class="img-responsive inline-block" src="~/dist/assets/images/others/saf.jpg" width="100" height="80" alt="">
                    </div>
                </div>
                <hr />

                <div class="row-border" align="center">
                    <div align="center">
                        <h1 align="center" class="caption-title">Awaiting Data</h1>
                        <p align="center" class="timeline-title">Awaiting some more text <br />of the printing and typesetting <br /> Lorem Ipsum has been the <br />industry's standard dummy text<br /> ever since the 1500s<a href="#">...more</a></p>
                    </div>
                </div>


            </div>

            <div class="col-md-4 no-pdd-horizon">
                <div class="full-height bg-white height-100">
                    <div class="vertical-align full-height pdd-horizon-70">
                        <div class="table-cell">
                            <div class="pdd-horizon-15">
                                <img class="img-responsive inline-block" src="~/dist/assets/images/logo/dpr logo.png" width="700" height="250" alt=""><br /><br />
                                <h2>SHE Administrative Portal Login</h2>
                                <p class="mrg-btm-15 font-size-13">Please enter your user name and password to login</p>
                                <form asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <input asp-for="Email" class="form-control" placeholder="User name" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Password" class="form-control" placeholder="Password" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="RememberMe">
                                            <input asp-for="RememberMe" />
                                            @Html.DisplayNameFor(m => m.RememberMe)
                                        </label>
                                    </div>

                                    @*<button type="submit" class="btn" style="min-width:100%; background-color: #0b9242; color: white;">Login</button>*@
                                    <a asp-controller="Administrator" asp-action="Dashboard" class="btn" style="min-width:100%; background-color: #0b9242; color: white;"> Login</a><div class="form-group">
                                        <span class="font-size-13  pdd-top-30"><a asp-action="ForgotPassword" style="color:#888da8;">Forget Password?</a></span>
                                        <span class="font-size-13 pull-right pdd-top-10"><a asp-action="RegisterNow" style="color:#888da8;">Register Now</a></span>
                                    </div>
                                </form>
                                @*<center><a href="#" class="btn" style="min-width:100%; background-color: #0b9242; color: white;">Trainee Portal</a><br /></center>*@
                            </div>
                        </div>
                    </div>
                    <div class="login-footer">
                        <img class="img-responsive inline-block" src="~/dist/assets/images/logo/dpr logo.png" width="30%" height="20%">
                        <span class="font-size-13 pull-right pdd-top-10">MISTDO Portal &copy; 2018</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
