@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<AdminApplicationUser> SignInManager
@{
    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
    ViewData["Title"] = "Administrative Portal | MISTDO Portal";
}

<style>
    @@media screen and (max-width: 700px) and (min-width: 520px) {
        body {
            background: red;
        }
    }
</style>
<div class="app">
    <div class="authentication">
        <div class="sign-in">
            <div class="col-md-8 no-pdd-horizon d-none d-md-block">
                <div class="full-height bg" style="background-image: url('../images/admin.jpg')">

                </div>
            </div>


            <div class="col-md-4 no-pdd-horizon">
                <div class="full-height bg-white height-100">
                    <div class="full-height pdd-horizon-70">
                        <div class="table-cell">
                            <div class="pdd-horizon-15">
                                <img class="img-responsive inline-block" src="~/images/dprlogo.jpg" width="700" height="250" alt=""><br /><br />
                              <div class="full-height pdd-horizon-190">
                                  <br />
                                  <br />
                                  <br />
                                  <br />
                                  <br />
                                  <br />
                                   <br />
                                  <br />
                                  <br />
                                  <h1 align="center"> <b>DPR Admin</b></h1>
                                  <p class="mrg-btm-15 font-size-20" align="center" style="color:black"> Active Directory Login</p>
                                  <br />
                                  <br />
                                 
                                <form asp-action="ExternalLogin" asp-controller="Administrator" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" c>
                                    <div class="form-group">
                                        <p>
                                            @foreach (var provider in loginProviders)
                                            {
                                                <button type="submit" class="btn" style="min-width:100%; background-color: #0b9242; color: white;" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">Login with Organization Email</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                                </div>
                                @*<center><a href="#" class="btn" style="min-width:100%; background-color: #0b9242; color: white;">Trainee Portal</a><br /></center>*@
                            </div>
                        </div>
                    </div>
                    <div class="login-footer">
                        <img class="img-responsive inline-block" src="~/dist/assets/images/logo/dpr logo.png" width="30%" height="20%">
                        <span class="font-size-13 pull-right pdd-top-10">MISTDO Portal &copy; 2018</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
